*{
    margin: 0px;
    padding: 0px; 
    color: #515151;  
}
.clearfix::after
{
    display: table;
    content: '';
    clear: both;
}
body{
    font-family: Arial, Helvetica, sans-serif;
  
}

header{
    padding-top: 40px;
    padding-bottom: 35px;
    margin: 0px auto;
    width: 1110px;
    
    
}
#logotipe
{
    text-align: left;
    text-transform: uppercase;
    /* float: left; */
    font-size: 20px;
    width: 80px;
    float: left;
    color: #b7b2b2;
}
#logotipe::first-letter
{
    color: #1abc9c;
    font-weight: bold;  

}

.site-navigation
{
    width: 490px;
    float: right;
    margin-top: 6px;
}
.site-navigation-item a:hover
{
    color: #1abc9c;
}
.site-navigation-item{
    float: left;
    text-transform: uppercase;
    font-size: 10px;
    color: #000000;
    /* width: 80px; */
    list-style: none;
    /* margin-right: 30px;    */
    font-weight: bold;
    padding: 0px 15px; 
}



.site-navigation-item a{
    text-decoration: none; 
    /* color: #b7b2b2; */
     
}

/* 255 320 
Uncle Lev, [21.11.18 20:49]
e9f0fd

Uncle Lev, [21.11.18 20:49]
1abc9c

Uncle Lev, [21.11.18 20:49]
7fd9c7

Uncle Lev, [21.11.18 20:50]
555252*/


.h2featur ,.h2news{
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 1000;  
    margin-bottom: 92px;
    padding-top: 75px;
}
.h2featur::after , .h2news::after
{
    content: '';
    display: block;
    height: 5px;
    width: 160px;
    background-color: #1abc9c;
    margin: 32px auto 0 auto;
    
}
/* .gallery-img */
{
    background-color: #e9f0fd;
    /* height: 280px; */
    /* width: 255px; */
    max-width: 100%;
    max-height: 280px;
    float: left;
    /* overflow: hidden; */
}
.gallery-item::before
{
    content: '';
    display: block;
    height: 280px;

    background: #e9f0fd;
    /* background-image: url('../img/product6.png'); */
    background-position: center;
}
.gallery-item:nth-child(1)::before
{
    background-image: url('../img/product1.png');
}
.gallery-item:nth-child(2)::before
{
    background-image: url('../img/product2.png');
}
.gallery-item:nth-child(3)::before
{
    background-image: url('../img/product9.png');
}
.gallery-item:nth-child(4)::before
{
    background-image: url('../img/product4.png');
}
.gallery-item:nth-child(5)::before
{
    background-image: url('../img/product3.png');
}
.gallery-item:nth-child(6)::before
{
    background-image: url('../img/product5.png');
}
.gallery-item:nth-child(7)::before
{
    background-image: url('../img/product6.png');
}
.gallery-item:nth-child(8)::before
{
    background-image: url('../img/product8.png');
}
.gallery-item
{
    list-style: none;
    height: 320px;
    width: 255px;
    float: left;
    /* padding-bottom: 30px; */
    /* padding-right: 30px; */
    margin: 0 30px 30px 0px;
    background: #323232;
    transition: 0.3s;
    overflow: hidden;
}

.gallery-item:nth-child(4n)
{
    margin-right: 0; 
    /* padding-right: 0px; */
}

.gallery-item:hover
{
    background: #1abc9c;
}
.gallery-item p
{
    color: #ffffff;

    text-transform: uppercase;
    float: left;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    font-weight: bold; 
    
}
.name-item
{
    width: 187px;
    padding: 10px 0 10px 13px;
}
.prise-item
{
    padding: 10px 0 10px 0;
    /* height: 40px; */
    width: 55px;
    /* background-color: #8c8c8c; */
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}
.prise-item::before
{
    content: '$';
}

.container
{
    margin: 0px auto;
    width: 1110px;
}


/* 365 495 */

.blogg
{
    width: 1110px;
    margin: 0 auto;
    list-style: none;
}

.blog-item
{
    float: left;
    width: 350px;
    height: 495px;
    padding-right: 30px;
    overflow: hidden;
}

.blog-item:last-child
{
    padding-right: 0px;
}

.blog-img
{
    display: block;
    font-size: 0px;
    max-height: 260px;
    /* max-width: 350px; */
    
    width: auto;
    /* overflow: hidden; */
}
.blogg-text
{
    font-size: 14px;
}
.blogg-text::first-line
{
    /* font-size: 18px; */
    /* width: 255px; */
    /* font-weight: bold; */
}



.blog-button
{
    /* 60 150 */
    margin-top: 20px; 
    width: 150px;
    height: 60px;
    background: #1abc9c;
    border: 0;
    font-size: 16px;
    color: #fff; 
    transition: 0.5s;
    overflow: hidden;
    border-radius: 5px;
}
.blog-button:hover
{
    border: 1px solid #1abc9c;
    background: none;
    color: #1abc9c;
}
.blog-text-big
{
    font-size: 18px;
    /* width: 255px; */
    font-weight: bold;
    line-height: 1.5;
    margin-top: 10px;
}
.blog-text-big::after
{
    content: '';
    display: block;
    height: 3px;
    width: 136px;
    background-color: #1abc9c;
    margin-top: 15px;
    margin-bottom: 30px;
}

.blogg-text
{
    height: 75px;
    line-height: 2; 
    overflow: hidden;
}
.fii
{
    height: 300px;
    width: 300px;
}
.fi
{
    overflow: hidden;
}
