*{
    margin: 0px;
    padding: 0px; 
    color: #515151;  
}
.clearfix::after
{
    display: table;
    content: '';
    clear: both;
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
}

header{
    padding-top: 40px;
    padding-bottom: 35px;
    margin: 0px auto;
    
    
}
#logotipe
{
    text-align: left;
    text-transform: uppercase;
    /* float: left; */
    font-size: 20px;
    width: 80px;
    float: left;
    color: #555252;
    font-size: 30pt;
    font-weight: 100;
}
#logotipe::first-letter
{
    color: #1abc9c;
    font-weight: 1000 !important ; 


}

.site-navigation
{
    width: 465px;
    float: right;
    margin-top: 10px;
    text-align: right;
}


.site-navigation-item a:hover
{
    color: #1abc9c;
}
.site-navigation-item{
    float: right;
    text-transform: uppercase;
    font-size: 10px;
    color: #000000;
    list-style: none;
    /* margin-right: 30px;    */
    font-weight: bold;
    padding: 0px 15px; 
}
.site-navigation-item:nth-child(1)
{
    padding-right: 0;
}
.site-navigation-item:last-child
{
    padding-left: 0;
}


.site-navigation-item a{
    text-decoration: none; 
    transition: 0.4s;
    font-size: 11pt;
}
h1
{
    font-weight: 900px;
}

.h2featur ,.h2news{
    text-align: center;
    font-weight: 900;  
    text-transform: uppercase;
    font-size: 35pt;
    margin-bottom: 92px;
    padding-top: 75px;
}
.h2featur::after , .h2news::after
{
    content: '';
    display: block;
    height: 5px;
    width: 160px;
    background-color: #1abc9c;
    margin: 32px auto 0 auto;
    
}

.gallery-item::before
{
    content: '';
    display: block;
    height: 280px;
    /* width: 100%; */

    background: #e9f0fd;
    /* background-image: url('../img/product6.png'); */
    background-position: center;
}
.gallery-item:nth-child(1)::before
{
    background-image: url('../img/product1.png');
}
.gallery-item:nth-child(2)::before
{
    background-image: url('../img/product2.png');
}
.gallery-item:nth-child(3)::before
{
    background-image: url('../img/product9.png');
}
.gallery-item:nth-child(4)::before
{
    background-image: url('../img/product4.png');
}
.gallery-item:nth-child(5)::before
{
    background-image: url('../img/product3.png');
}
.gallery-item:nth-child(6)::before
{
    background-image: url('../img/product5.png');
}
.gallery-item:nth-child(7)::before
{
    background-image: url('../img/product6.png');
}
.gallery-item:nth-child(8)::before
{
    background-image: url('../img/product8.png');
}
.gallery-item
{
    list-style: none;
    height: 320px;
    width: 255px;
    float: left;
    margin: 0 30px 30px 0px;
    background: #323232;
    transition: 0.3s;
    overflow: hidden;
}

.gallery-item:nth-child(4n)
{
    margin-right: 0; 
}

.gallery-item:hover
{
    background: #1abc9c;
}
.gallery-item p
{
    color: #ffffff;

    text-transform: uppercase;
    float: left;
    font-size: 18px;
    /* align-items: center; */
    /* justify-content: center; */
    font-weight: bold; 
    
}
.name-item
{
    padding: 10px 0 10px 13px;
    width: 187px;
}
.prise-item
{
    padding: 10px 0 10px 0;
    width: 55px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}
.prise-item::before
{
    content: '$';
}

.container
{
    margin: 0px auto;
    width: 1110px;
}
footer
{
    padding-bottom: 81px; 
    font-family: 'Open Sans', sans-serif;
}
.blogg
{
    margin: 0 auto;
    list-style: none;
}

.blog-item
{
    float: left;
    width: 350px;
    height: 520px;
    padding-right: 30px;
    overflow: hidden;
}

.blog-item:last-child
{
    padding-right: 0px;
}

.blog-img
{
    display: block;
    font-size: 0px;
    height: 260px;
    width: 350px; 
    
}
.blogg-text
{
    font-size: 14px;
}
.blog-button
{
    margin-top: 20px; 
    width: 150px;
    height: 60px;
    background: #1abc9c;
    border: 0;
    font-size: 16px;
    color: #fff; 
    transition: 0.5s;
    overflow: hidden;
    border-radius: 5px;
}
.blog-button:hover
{
    border: 1px solid #1abc9c;
    background: none;
    color: #1abc9c;
}
.blog-text-big
{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 10px;
}
.blog-text-big::after
{
    content: '';
    display: block;
    height: 3px;
    width: 136px;
    background-color: #1abc9c;
    margin-top: 14px;
    margin-bottom: 20px;
}

.blogg-text
{
    height: 75px;
    line-height: 2; 
    overflow: hidden;
    font-size: 14px;
}

