* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #303333;
}

.image-gallery {
    margin: 0 auto;
    width: 55%;
}

.fullview {
    /* width: 800px; */
    width: 100%;
}

.preview {
    display: flex;
    /* width: 800px; */
    width: 100%;
}

.preview li {
    list-style: none;
}

.preview img {
    cursor: pointer;
}

img {
    width: 100%;
    border: 5px solid #505050;
}