@media (min-width: 320px) {
    
    .header-backgroud {
        height: 540px;
        background-image: url(../img/promo-mobile.jpg) ;
        width: 320px;
        background-repeat: no-repeat;
        margin: 0 auto;      
    }

    .entering {
        margin: 0 auto 116px;
    }

    nav {
        margin-bottom: 30px;
    }

    .logo {
        text-align: center;
    }
    
    header h2 {
        margin-bottom: 12px; 
        text-align: center;
        font-size: 30px;
    }
    header h3 {
        font-size: 18px;
        width: 220px;
        margin: 0 auto 17px;
        text-align: center;
    }
    .finding {
        width: 278px;
    }
    main {
        padding: 65px 5px 5px;
    }
    main {
        padding-bottom: 57px;
    }

    section h2 {
        font-size: 22px;
        margin: 0 0 16px;
    }

    .partners{
        margin-bottom: 28px;
    }
    .partners-item{
        margin: 0 auto;
    }
    .partners-item:not(:last-child) {
        margin-bottom:  26px;
    }
    .partners-item h3{
        font-size: 14px;
    }
    .partners-item p {
        width: 220px;
        margin: 0 auto;
        font-size: 14px;
        letter-spacing: 0.01em;
    }
}

@media (min-width: 768px) {
    .header-backgroud {
        height: 700px;
        background-image: url(../img/promo-table.jpg) ;
        width: 768px;
    }    
    
    nav {
        display: flex;
        justify-content: space-between;
        width: 670px;
        margin: 0 auto 143px;
        padding-top: 37px;
    }
    
    .entering {
        margin: 0 ;
        order: 2;
    }

    .logo {
        text-align: center;
        padding-top: 10px;
        letter-spacing: 0.01em;
    }

    header h2 {
        font-size: 52px;
        width: 600px;
        margin: 0 auto 25px;
        line-height: 1.2em;
    }
    
    header h3 {
        width: 100%;
        font-size: 24px;
        margin: 0 auto 34px;
        text-align: center;
    }
    
    .finding {
        width: 224px;
    }

    main {
        padding: 68px 5px 40px;
        margin: 0 auto;
    }

    section h2 {
        margin: 0 0 34px;
    }

    .partners{
        display: flex;
        flex-wrap: wrap;
        width: 498px;
        justify-content: space-between;
        margin: 0 auto 37px;
    }
    
    .partner-photo {
        margin-bottom: 10px; 
    }

    .partners-item2 {
        order: 3;
    }

    .partners-item3 {
        order: 2;
    }

    .partners-item4 {
        order: 4;
    }

    .partners-item{
        width: 236px;
        margin: 0;
    }

    .partners-item:not(:last-child){
        margin-bottom:  59px;
    }

    .partners-item:last-child  , .partners-item:nth-child(2) {
        margin-bottom:  0px;
    }
       
    .show-patners {
        width: 190px;
    }
}


@media (min-width: 1440px) {
    .header-backgroud {
        background-image: url(../img/desktop.png) ;
        width: 1440px;
            
    }
    
    nav {
        width: 940px;
    }

    main {
        padding-bottom: 73px;
        width: 1430px;
    }
    
    section h2 {
        font-size: 22px;
        letter-spacing: -0.5px;
    }

    .partners{
        width: 940px;
    }

    .partner-photo {
        margin-bottom: 10px;
    }

    .partners-item{
        width: 220px;
        margin-bottom: 0 !important; 
    }
    
    .partners-item p {
        width: 100%;
        letter-spacing: 0.01em;

    }
    
}
