body {
    margin: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'),
        url('../font/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat-v12-latin/montserrat-v12-latin-700.woff2') format('woff2'),
        url('../font/montserrat-v12-latin/montserrat-v12-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    
    src:    url('../font/roboto-v18-latin/roboto-v18-latin-regular.woff2') format('woff2'), 
            url('../font/roboto-v18-latin/roboto-v18-latin-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src:    url('../font/roboto-v18-latin/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
            url('../font/roboto-v18-latin/roboto-v18-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* header */



header h2 , header button , .partners h3, .show-patners {
    font-family: 'Montserrat';
    
}

header h3, .partners p {
    font-family: 'Roboto';
    font-weight: 300;
    
}

nav {
    font-family: 'Montserrat';
    font-weight: bold;
    padding-top: 20px;
}
.entering{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 155px;
    justify-content: space-between;
}

.entering a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}




.signing{
    border: 2px solid #ffffff;
    overflow: hidden;
    border-radius: 19px;
    padding: 7px 15px !important;
}

.entering li{
    padding-top: 10px; 

}
.logo {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 20px;
}

header h2 {
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}
header h3 {
    color: #ffffff;
    margin: 0;
}


.finding {
    display: block;
    color: #ffffff;
    background-color: #ff4e50;
    border: 2px solid #ff4e50;
    /* border: none; */
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    margin: 0 auto;
    width: 278px;
    padding: 10px 7px;    
}

/* header */

main {
    padding: 65px 5px 5px;
}

section h2{
    font-family: 'Montserrat';
    text-align: center;
    /* letter-spacing: 0.5em; */
}

.partners-item {
    width: 220px;
}

.partner-photo{
    position: relative;
    width: 128px;
    height: 128px;
    margin: 0 auto 12px;
}

.avatar{
    display: block;
    width: 121px;
    margin: 0 auto;
}

.icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.partners-item p, .partners-item h3 {
    text-align: center;
}



.partners-item h3 {
    margin: 0 0 15px;
}

.partners-item p {
    color: #666666;
    margin: 0;
}



.show-patners {
    display: block;
    color: #ff4e50;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    border-radius: 50px;
    margin: 0 auto;
    width: 270px;
    padding: 10px 5px;
}