@font-face {
    font-family: 'RobotoSlab';
    src: url('../font/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff2') format('woff2'),
         url('../font/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Wisdom';
    src: url('../font/WisdomScriptAJ/WisdomScriptAJ.woff2') format('woff2'),
            url('../font/WisdomScriptAJ/WisdomScriptAJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Montserrat';
src: url('../font/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'),
        url('../font/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Montserrat';
src: url('../font/montserrat-v12-latin/montserrat-v12-latin-700.woff2') format('woff2'),
        url('../font/montserrat-v12-latin/montserrat-v12-latin-700.woff') format('woff');
font-weight: 700;
font-style: normal;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('../font/droidserif/droidserifitalic.woff2') format('woff2'),
            url('../font/droidserif/droidserifitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


body{
    margin: 0;
    padding: 0;
}
header{
    padding: 36px 5px 113px;
    width: 1400px;
    margin: 0 auto;
}

.wraper {
    width: 1400px;
    padding: 0;
}

.container{
    width: 940px;
    margin: 0 auto;

}
.logotipe{
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: #fed136;
    font-family: 'Wisdom';
    font-weight: 300;
    line-height: 1.1em;
}
nav{
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #000000;
}
.site-navigation{
    Font-family: 'Montserrat'; 
    padding: 0;
    list-style: none;
    margin: 0;
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.site-navigation a{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.site-navigation a:hover {
    color: #fed136;
}

main
{
    padding: 0;
}

.services{
    margin-bottom: 120px;
}

.services h2 , .contact h2 {
    Font-family: 'Montserrat'; 
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin: 0 0 8px;  
}

.services h4 , .contact h4 {
    font-family: 'DroidSerif';
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin: 0 0 80px;
    font-weight: 300;
} 

.services-list {
    display: flex;
    /* flex-wrap: wrap */
    justify-content: space-between;

}

.services-list img {
    margin-bottom: 15px;
}

.services-item {
    width: 290px;
    text-align: center;

}

.services-item h3 {
    Font-family: 'Montserrat'; 
    font-size: 18px;
    margin: 0 0 10px;
}

.services-item p {
    font-family: 'RobotoSlab';
    color: #777777;
    font-size: 13px;
    margin: 0;
    letter-spacing: 0.025em;
    line-height: 1.6em;
}



.contact-background-img {
    /* display: flex; */
    background-position: right bottom;
    background-image: url(../img/Map-Image.png);
    background-repeat: no-repeat;
    background-color: #222222;
    
    /* order: 3; */
}
.сontact-background {
    padding-top: 100px; 
    padding-bottom: 115px;
}

/* .contact {
    padding-top: 100px; 
    padding-bottom: 115px;
    background-color: #222222;
    background-position: right bottom;
    background-image: url(../img/Map-Image.png);
    background-repeat: no-repeat; 
} */
.contact {
    width: 1400px;
    margin: 0 auto;
}

.contact h2{
    color: #ffffff;
}

.contact h4 {
    margin-bottom: 78px;
}



.inputing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

}

input { 
    width: 452px;
    height: 48px;
    font-size: 14px;    
}

input::placeholder, textarea::placeholder {
    Font-family: 'Montserrat'; 
    font-weight: bold;
    text-transform: uppercase;
    color: #bbbbbb;
}

input[type="text"] , input[type="email"], textarea {
    text-indent: 20px;
    Font-family: 'Montserrat'; 
    font-weight: bold;
}

textarea {
    padding-top: 15px;
}

.input-inf {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 455px;
}
input, textarea, form button{
    overflow: hidden;
    border-radius: 3px; 
}
textarea {
    width: 450px;
    height: 195px;
    resize: none;
}

form {
    Font-family: 'Montserrat'; 
}


input[type="submit"] {
    display: block;
    font-size: 18px;
    font-weight: bold;
    border: none;    
    color: #ffffff;
    background-color: #fed136;
    text-transform: uppercase; 
    padding: 5px ;
    width: 240px;
    height: 64px;
    margin: 0 auto;
    transition: 0.4s;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:active {
    cursor: pointer;
    background: #f7dd7f;
    outline: none;
    
}





