@import '__bookmark-list.scss';
@import '__bookmark.scss';
@import '__btn.scss';
@import '__form.scss';


body {
    background: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
  }
  

