body{
    margin: 0px;
}
header{
    Font-family: 'Montserrat', sans-serif; 
    color: #95e1d3;
    padding: 26px 5px 113px;
}
/* #95e1d3
#eaffd0
#fce38a
#f38181 */

.wraper {
    width: 1920px;
    margin: 0 auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.logotipe{
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}
nav a{
    text-decoration: none;
    color: #95e1d3;
}
nav{
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.site-navigation{
    padding: 0;
    list-style: none;
    margin: 0;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

.site-navigation a{
    font-size: 14px;
    text-transform: uppercase;
    line-height: -1;
    /* font-weight: bold; */
}

.site-navigation a:hover{
    color: #f38181;
}
.site-navigation a:hover::after{
    opacity: 1;
}

.site-navigation a::after{
    content: '';
    display: block;
    margin-top: 5px; 
    height: 3px;
    width: 100%;
    background-color: #f38181;
    opacity: 0; 
}
main
{
    Font-family: 'Montserrat', sans-serif;
    padding-bottom: 80px;
}
h2 , h3{
    text-align: center;
    margin-top: 0;

}

h3
{
    font-size: 24px;
    margin-bottom: 13px;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 60px;
}

h2::after{
    content: '';
    display: block;
    background: #f38181;
    width: 60px;
    height: 3px;
    margin: 36px auto 0;
}
.services-title {
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 245px;
    align-content: space-between;
    margin-bottom: 86px;
}

.services-item {
    display: flex;
    justify-content: space-between;
    width: 344px;
    align-items: flex-start;
}
.services-item img {
    margin: 5px 30px 0 0;

}
.services-text h4 {
    margin: 0 0 10px;
    font-size: 14px;
    text-transform: uppercase;
}
.services-text p {
    margin: 0;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.staff h2 {
    margin-bottom: 40px
}

.staff-information {
    text-align: center;
    margin: 0;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    width: 952px;
    margin: 0 auto 89px auto;
}

.team {
    display: flex;
    justify-content: space-between;
}

.staff-card{
    position: relative;
    display: flex;
    background: #95e1d3;
    width: 380px;
    height: 470px;
    margin-bottom: 28px; 

}
.staff-card::after
{
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#f38181, #fce38a);
    opacity: 0;
    z-index: 1;
}
.staff-card::before
{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.staff-card1::before{
    background-image: url(../img/staff1.jpg);
}
.staff-card2::before{
    background-image: url(../img/staff2.jpg);    
}
.staff-card3::before{
    background-image: url(../img/staff3.jpg);
}

.staff-card:hover::after{
    opacity: 0.9;
    cursor: pointer;
}

.staff-card:hover::before{
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.staff-card:hover .social{
    opacity: 1;
}
.social{
    display: flex;
    width: 223px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    top: 197px;
    left: 68px;
    z-index: 2;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 55px;
    background: #fce38a;
}


.icon:hover{
    cursor: pointer;
    background: #95e1d3;
}

.name {
    Font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.job {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #999999;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.information{
    Font-family: 'Montserrat', sans-serif; 
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; 
    width: 1200px;
    margin: 0 auto;

}
address{
    font-style: normal;
    font-size: 14px;
}
address a{
    color: #f38181;
    text-decoration: none;
}
.subscribing{
    display: flex;
    justify-content: flex-end;

}
.subscribing input{
    border: 1px solid #e5e5e5;
    border-right: none;
    height: 40px;
    font-size: 15px;
    /* line-height: 24pt; */
    font-style: italic;
    color: #999999;
    width: 230px;
    margin: 0;
    padding: 0;
}
.subscribing button{
    width: 150px;
    background: #95e1d3;
    text-transform: uppercase;
    border-color: transparent;
    font-size:14px;
    color: #ffffff;
    padding: 0px 18px;
    outline: none;
    font-weight: bold;
}






