body{
    margin: 0px;
}
header{
    Font-family: 'Montserrat', sans-serif; 
    padding: 22px 5px 113px;
}


.wraper {
    width: 1920px;
    margin: 0 auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.logotipe{
    font-weight: bold;
    font-size: 30px;
}
nav a{
    text-decoration: none;
    color: #95e1d3;
}
nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.site-navigation{
    padding: 0 0 4px;
    list-style: none;
    margin: 0;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

.site-navigation-item:last-child {
    padding-right: 0;
}

.site-navigation-item:first-child {
    padding-left: 0;
}

.site-navigation-item {
    padding: 0 27px;
}

.site-navigation a{
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}

.site-navigation-item:hover {
    cursor: pointer;
}

.site-navigation-item:hover a{
    color: #f38181;
}
.site-navigation-item:hover a::after{
    opacity: 1;
}

.site-navigation a::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #f38181;
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 0; 
}
main
{
    Font-family: 'Montserrat', sans-serif;
    padding: 1px 1px 82px;
}

.work-with {
    margin-bottom: 84px;
}

h2 , h3{
    text-align: center;
    margin-top: 0;

}

h3
{
    font-size: 24px;
    margin-bottom: 9px;
    font-family: 'Kaushan Script', cursive;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 100px;
    position: relative;
}

h2::after{
    content: '';
    display: block;
    background: #f38181;
    width: 60px;
    height: 3px;
    position: absolute;
    top: 72px;
    left: 570px;
}

.services {
    margin: 0 auto;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-content: space-between;
    min-height: 246px;
    /* width: 1140px; */
    /* width: 1270px; */
    padding: 0;
}

.services-item {
    position: relative;
    width: 270px;
    list-style: none;
    padding-left: 60px;
}

.services-item::before {
    content: '';
    position: absolute;
    display: table;
    height: 32px;
    width: 32px;
    left: 0;
    top: 4px;
}


.services-item1::before {
    background-image: url(../img/icon1.png);
}


.services-item2::before {
    background-image: url(../img/icon2.png);
}

.services-item3::before {
    background-image: url(../img/icon3.png);
}

.services-item4::before {
    background-image: url(../img/icon4.png);
}

.services-item5::before {
    background-image: url(../img/icon5.png);
}

.services-item6::before {
    background-image: url(../img/icon6.png);
}


.services-item h4 {
    margin: 0 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}
.services-item p {
    margin: 0;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.staff h2 {
    margin-bottom: 79px
}

.staff-information {
    text-align: center;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    width: 952px;
    margin: 0 auto 89px auto;
}

.team {
    display: flex;
    justify-content: space-between;
}

.staff-card{
    position: relative;
    display: flex;
    background: #95e1d3;
    width: 380px;
    height: 470px;
    margin-bottom: 26px; 

}
.person
{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#f38181, #fce38a);
    opacity: 0;
    z-index: 1;
}

.person , .person-img{
    transition: 0.2s;
}

.person-img
{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.staff-card:hover .person{
    opacity: 0.9;
}

.staff-card:hover .person-img , .staff-card:hover .person{
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.staff-card:hover .social{
    transition: 0.9s;
    opacity: 1;
}
.social{
    display: flex;
    width: 223px;
    justify-content: space-between;
    position: absolute;
    opacity: 0;
    top: 197px;
    left: 68px;
    z-index: 2;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 55px;
    background: #fce38a;
}


.icon:hover{
    cursor: pointer;
    background: #95e1d3;
}

.name {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px;
}

.job {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #999999;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.information{
    Font-family: 'Montserrat', sans-serif; 
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    

}
.information p {
    font-size: 14px;
}
.information span{
    color: #f38181;
    text-decoration: none;
}
.subscribing{
    display: flex;
    justify-content: flex-end;

}
.subscribing input[type="email"]{
    border: 1px solid #e5e5e5;
    border-right: none;
    height: 40px;
    font-size: 15px;
    width: 230px;
    margin: 0;
    padding: 0;
}
.subscribe {
    width: 150px;
    background: #95e1d3;
    text-transform: uppercase;
    border-color: transparent;
    font-size:14px;
    color: #ffffff;
    padding: 10px 18px;
    outline: none;
    font-weight: bold;
}


input::placeholder {
    color: #bbbbbb;
    text-indent: 10px;
    font-style: italic;

}





