
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
}
/* Header  */
header{
    font-family: 'Roboto', sans-serif;
    padding: 20px 10px 78px;
    margin: 0 auto;
}
/* nav  */
nav{
    width: 1600px;
    margin: 0 auto;
}
.logotipe{
    text-align: left;
    text-transform: uppercase;
    float: left;
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.logotipe::first-letter{
    color: #1abc9c;
    font-weight: 900; 
}



.site-navigation{
    padding: 8px 0 0;
    float: right;
    margin: 0;
}

.site-navigation-item a:hover{
    color: #1abc9c;    
}

.site-navigation-item{
    float: right;
    list-style: none;
    font-weight: 800;
    margin: 0px 5px 0 0; 
    width: 95px;
    text-align: center;
}



.site-navigation-item:nth-child(1){
    margin-right: 0;
}



.site-navigation-item a{
    display: block;
    text-transform: uppercase;
    padding: 2px;
    text-decoration: none; 
    color: #000000;
    font-size: 14px;
}
/* nav end */
/* Header end */
main{
    font-family: 'Roboto', sans-serif;
    background-color: #e9f0fd;
    width: 1600px;
    margin: 0 auto;
    padding: 5px 5px 50px;
}
/* slider */
.slider{
    position: relative;
    margin: 0 0 88px;
    /* height: 600px; */
    /* width: 1600px; */
}

.slider-item{
    position: absolute;
    padding: 5px;
    /* width: 780px; */
    /* margin: 0 auto; */
    top: 208px;
    left: 430px;
}
.slider-item1, .slider-item2{
    color: #ffffff;
}
.slider-item1{
    margin: 0 0 16px;
    font-size: 60px;
    letter-spacing: -4px;
}
.slider-item2{
    font-weight: 100;
    font-size: 24px;
    margin: 0;
    letter-spacing: -1px;
}


.slider-button2 , .slider-button1{
    position: absolute;
    color: #ffffff;
    font-size: 100px;
    border: none;
    background: rgba(26,188,156,0.65);
    top: 224px;
}
.slider-button1{
    left: 245px;
}
.slider-button2{
    right: 245px;
}
.slider-button1:focus, .slider-button1:hover , .slider-button2:hover , .slider-button2:focus{
    cursor: pointer;
    outline: none;
    background: rgba(26,188,156,1);
}
/* slider end */
/* Products */
.product-title{
    color: #515151;  
    font-weight: 700;  
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0 0 82px ;
    padding-top: 0px;
    letter-spacing: -2px;
}

.product-title::after{
    content: '';
    display: block;
    height: 7px;
    width: 160px;
    background-color: #1abc9c;
    margin: 20px auto 0; 
}

.proucts-item{
    padding: 0;
    margin: 0 0 30px;
}
.proucts-item:last-child{
    margin: 0;
}

.product-img{
    position: relative;
    float: left;
    background: #e9f0fd;
    width: 255px;
}
/* card */
.card{
    height: 280px;
    width: 255px;
    position: relative;
}
.card::after{
    content: "";
    position: absolute;
    width: 235px;
    height: 260px;
    top: 0;
    left: 0;
    border: 10px solid #fff;
    background: #000;
    opacity: 0;
    z-index: 1;
}

.card:hover::after{
    opacity: 0.5;
}
.card-menu{
    position: absolute;
    background: none;
    outline: none;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    border: 1px solid #fff; 
    color: #fff;
    font-size: 30px;
    padding: 10px;
}
.card:hover .card-menu{
    opacity: 1;
}

.card-menu1{
    top: 90px;
    left: 45px;
}
.card-menu2{
    top: 90px;
    left: 104px;
}
.card-menu3{
    top: 90px;
    left: 161px;
}
.card-menu4{
    width: 164px;
    top: 150px;
    left: 45px;
    padding: 0;
}
.card-menu:hover, .card-menu:focus {
    background: #1abc9c;
    border-color: transparent;
}
.card-menu4:hover, .card-menu4:focus{
    background: #323232;
    border: 1px solid #fff; 
}



.icon{
    float: left;
    font-size: 30px;
    padding: 10px;
}

.card-text{
    font-family: 'Open Sans', sans-serif;
    padding: 19px 17px 19px 8px;
    margin: 0;
    float: right;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.04em;
}


.products{
    width: 1110px;
    margin: 0 auto;
}

.gallery-item{
    width: 255px;
    float: left;
    margin-right: 30px;
    background: #323232;
}

.gallery-item:last-child{
    margin-right: 0; 
}


.gallery-item:hover{
    background: #1abc9c;
    cursor: pointer;
}

.gallery-item .name-item,.prise-item {
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    font-size: 18px;
    font-weight: bold; 
}
a{
    text-decoration: none;
}

.name-item{
    margin: 0;
    padding: 10px 13px;
    width: 174px;
}

.prise-item{
    margin: 0;
    padding: 10px 0;
    width: 55px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}

.prise-item::before{
    content: '$';
}
/* prodacts end */
/* footer */
footer{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #323232;
}

address{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding-bottom: 35px;
    padding-top: 35px;
    font-style: normal;
}

address a{
    color: #1abc9c;
}
/* footer end */