
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
body{
    margin: 0px;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
.container{
    width: 1600px;
    margin: 0 auto;
    padding: 1px;
}
/* Header  */
header{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1600px;
    position: relative;
    background-image: url(../img/slider.jpg);
    height: 600px;

}
/* nav  */
nav {
    font-family: 'Roboto', sans-serif;
    padding: 32px 0 22px;
    width: 1110px;
    margin: 0 auto;
}
.logotipe{
    text-align: left;
    text-transform: uppercase;
    float: left;
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.logotipe::first-letter{
    color: #1abc9c;
    font-weight: 900; 
}



.site-navigation{
    padding: 8px 0 8px;
    float: right;
    margin: 0;
}

.site-navigation-item a:hover{
    color: #1abc9c;    
}

.site-navigation-item{
    float: right;
    list-style: none;
    font-weight: 800;
    margin: 0px 5px 0 0; 
    width: 95px;
    text-align: center;
}



.site-navigation-item:first-child{
    margin-right: 0;
}



.site-navigation-item a{
    display: block;
    text-transform: uppercase;
    padding: 2px;
    color: #000000;
    font-size: 14px;
}
/* nav end */
/* Header end */
section {
    font-family: 'Roboto', sans-serif;
    background-color: #e9f0fd;
    margin: 0 auto;
    padding: 90px 0px 100px;
}
/* slider */


.slider-items{
    position: absolute;
    display: inline;
    padding: 5px;
    top: 200px;
    left: 426px;
}
.slider-item1, .slider-item2{
    color: #ffffff;
    text-transform: uppercase;
    
}
.slider-item1{
    margin: 0 0 16px;
    font-size: 60px;
    letter-spacing: -0.015em;
}
.slider-item2{
    font-weight: 100;
    font-size: 24px;
    margin: 0;
    letter-spacing: -0.020em;
}


.slider-button2 , .slider-button1{
    position: absolute;
    padding: 0; 
    border: none;
    background: rgba(26,188,156,0.65);
    top: 225px;
}

.slider-button1 span, .slider-button2 span {
    color: #ffffff;
    font-size: 100px;
    padding: 3px 3px;
}

.slider-button1{
    left: 244px;
}
.slider-button2{
    right: 244px;
}
.slider-button1:focus, .slider-button1:hover , .slider-button2:hover , .slider-button2:focus{
    cursor: pointer;
    outline: none;
    background: rgba(26,188,156,1);
}
/* slider end */

/* Products */
.product-title{
    position: relative;
    color: #515151;  
    font-weight: 700;  
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0px 0 106px;
    letter-spacing: -0.020em;
}

.product-title::after {
    position: absolute;
    content: '';
    display: block;
    height: 7px;
    width: 162px;
    background-color: #1abc9c;
    top: 78px;
    left: 719px;
}

.proucts-item{
    padding: 0;
    margin: 0 0 30px;
}
.proucts-item:last-child{
    margin: 0;
}


/* card */
.card{
    height: 280px;
    width: 255px;
    position: relative;
}
.card-bacground{
    position: absolute;
    width: 235px;
    height: 260px;
    top: 0;
    left: 0;
    border: 10px solid #fff;
    background: #000;
    opacity: 0;
    z-index: 1;
}

.card:hover .card-bacground {
    opacity: 0.5;
}

.menu-list {
    position: absolute;
    top: 88px;
    left: 45px;
    z-index: 2;
}

.menu-list-top {
    font-size: 0;
    margin-bottom: 8px;
}

.card-menu:not(:last-child) {
    margin-right: 8px;
}
.card-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.card-menu {
    cursor: pointer;
    background: none;
    outline: none;
    opacity: 0;
    z-index: 2;
    border: 1px solid #fff; 
    color: #fff;
    padding: 0;
}

.card-menu4 {
    /* position: absolute; */
}

.icon1 {
    font-size: 30px;
    padding: 10px 8px 9px 10px;
}

.card:hover .card-menu ,.card:hover .menu-list{
    opacity: 1;
}

.card-hover .card-bacground {
    opacity: 0.5;  
}

.card-menu4{
    width: 166px;
    top: 145px;
    left: 45px;
    padding: 0;
    background: #323232;
}
.card-menu:hover, .card-menu:focus {
    background: #1abc9c;
    border-color: transparent;
}

.icon{
    float: left;
    font-size: 30px;
    padding: 9px 9px 9px 9px;
}

.card-text{
    font-family: 'Open Sans', sans-serif;
    padding: 15px 17px 9px 8px;
    margin: 0;
    float: right;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.04em;
}


.products{
    width: 1110px;
    margin: 0 auto;
}

.gallery-item{
    width: 255px;
    float: left;
    margin-right: 30px;
    background: #323232;
}

.gallery-item:last-child{
    margin-right: 0; 
}


.gallery-item:hover{
    background: #1abc9c;
    cursor: pointer;
}

.gallery-item .name-item,.prise-item {
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    font-size: 18px;
    font-weight: bold; 
}
a{
    text-decoration: none;
}

.name-item{
    margin: 0;
    padding: 10px 13px;
    width: 174px;
}

.prise-item{
    margin: 0;
    padding: 10px 0;
    width: 55px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}


/* prodacts end */
/* footer */
footer {
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    background: #323232;
    color: #ffffff;
    padding-bottom: 32px;
    padding-top: 35px;
    font-style: normal;
}


footer p {
    text-align: center;
    font-size: 16px;
    margin: 0;
}
footer span{
    color: #1abc9c;
}
/* footer end */