*
{
	margin: 0px;
	color: #626262;
	padding: 0px;
	font-family: 'Playfair Display', serif;
	
}



header
{
	padding-top: 75px; 
	margin-bottom: 100px;
}

.menu
{	
	margin: 0px auto 0px auto;
	width: 820px;

}
li
{
	display: inline-block;
	width: 200px;
	text-align: center;

}
#uppertext_using 
{
	text-transform: uppercase;
}


a:hover
{
	color: #03a9f4;
}
a
{
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
}
img{
	width: 420px;
	height: 280px;
}

p{
	margin-top: 30px;
	width: 420px;
}
h2
{
	margin-top: 30px; 
}
main
{
	display: block;
	width: 1030px;
	margin: 0px auto;
}
section
{
	
	display: inline-block;
	width: 970px;
	padding-left: 60px;
}

.coloms_block
{
	display: inline-block;
	width: 480px;
	height: 600px;
}



button:hover
{
	color: #03a9f4;
}
.button
{
	
	margin: 0px auto 60px auto;
	width: 165px;
	height: 60px;
	
}

button
{
	background-color: white;
	margin: 0px auto;
	width: 165px;
	height: 60px;
	border: 1px solid #626262;
	font-size: 16px;
}