*
{
	margin: 0px;
	color: #626262;
	padding: 0px;
	font-family: 'Playfair Display', serif;
	
}

body
{
	margin-top: 75px;
}


.menu
{
	margin: 0px auto 25px auto;
	padding: 0;
	width: 820px;
	font-style: normal;
}
li
{
	display: inline-block;
	width: 200px;
	/* margin:  0px 0px 0px 0px; */
	text-align: center;

}
.upperteat
{
	text-transform: uppercase;
}


a:hover
{
	color: #03a9f4;
}
a
{
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
}
img{
	width: 420px;
	height: 280px;
}

p{
	margin-top: 30px;
}
h2{
	margin-top: 30px; 
}
.text{
	width: 970px;
	margin: 0px auto;	
}
section
{
	display: inline-block;
	width: 420px;
	margin: 75px 30px 75px 30px;
}


button:hover
{
	color: #03a9f4;
}
.button
{
	
	margin: 0px auto 60px auto;
	width: 165px;
	height: 60px;
	
}

button
{
	background-color: white;
	margin: 0px auto;
	width: 165px;
	height: 60px;
	border: 1px solid #626262;
	font-size: 16px;
}