body
{
	margin: 0px;
	color: #626262;
}



header
{
	font-family: 'Playfair Display', serif;
	padding: 74px 8px 76px 8px; 
}

ul
{	
	padding: 0;
	margin: 0px auto;
	width: 860px;

}

a:hover
{
	color: #03a9f4;
}
a
{
	color: #626262;
	display: block;
	padding: 10px 5px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

li
{
	display: inline-block;
	width: 200px;
	text-align: center;
	margin-right: 10px;
	font-size: 0;
}

li:last-child
{
	margin-right: 0;
}
h3 
{
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: #beb8ab;
	font-size: 14px;
	margin: 0 0 20px 0;
	font-weight: normal;
}



img{
	display: inline-block;
	width: 420px;
	height: 280px;
	margin-bottom: 30px;
}

p{
	line-height: 24px;
	font-size: 14px;
	margin: 0;
}
h2
{
	font-weight: normal;
	margin:0 0 30px 0;
	font-size: 30px; 
}
main
{
	padding: 10px 10px 50px 10px;
	display: block;
	width: 900px;
	margin: 0px auto;
	
}
section
{
	font-family: 'Playfair Display', serif;
	margin: 0 0 130px;
	font-size: 0px;
}

section:nth-child(3)
{
	margin-bottom: 60px;
}
.coloms_block
{
	display: inline-block;
	width: 420px;
	margin-right:60px;
	font-size: 0px; 
}
.coloms_block:last-child
{
	margin-right: 0px
}


.button-item:hover , .button-item:focus, .button-item:active
{
	outline: none;
	color: #03a9f4;
}
.button-item:active
{
	border: 1px solid #03a9f4;
}


.button-item
{
	font-family: 'Playfair Display', serif; 
	display: block;
	color: #626262;
	margin: 0px auto;
	background-color: white;
	width: 165px;
	padding: 16px;
	border: 1px solid #626262;
	font-size: 20px;
}